#imageContainer{
    position: relative;
}
img{
    width: 100%;
    height: 610px;
}
.absolute-div{
    display: inline-block;
    width: 50%;
    position: absolute;
    color: aliceblue;
    font-size: 30px;
    top: 30%;
    left: 25%;
}