.rgb_squares{
    display:inline-block;
    /* width:100%; */
    height:150px;
    background-color:rgb(236, 239, 241);
    padding:20px;
    /* border:1px solid red; */
}

.square:nth-child(3n+1){
    display:inline-block;
    background-color: red;
    width:150px;
    height:100%;
    margin-right:10px;
}
.square:nth-child(3n+2) {
    display:inline-block;
    background-color: green;
    width:150px;
    height:100%;
    margin-right:10px;
}
.square:nth-child(3n) {
    display:inline-block;
    background-color: blue;
    width:150px;
    height:100%;
    margin-right:10px;
}